build/
build-*/
dist/
bin/
lib/
.qmake.stash
Makefile
*/Makefile
*/*/Makefile
.obj/
.moc/
.rcc/
.ui/
*/.obj/
*/.moc/
*/.rcc/
*/.ui/
*/*/.obj/
*/*/.moc/
*/*/.rcc/
*/*/.ui/
*.pro.user
*.pro.user.*
*.user
*.autosave
*.o
*.obj
*.prl
*.la
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
ui_*.h
moc_*.cpp
qrc_*.cpp
*.log
.DS_Store
